.container {
  background-color: rgb(255, 248, 248);
  padding: 20px;
  display: flex;
}
.containerTotal{
  text-align: center;
  margin-top: 50% !important;
  background-color: white;
  font-size: 13px;
  margin: 3%;
  border-radius: 5px;
  box-shadow: 0px 10px 15px 3px rgb(0 0 0 / 10%);
  font-weight: bold;
}
.links{
  text-align: center;
  text-decoration: none;
  color: black;
}
.buttonBuy{
  border: 1px solid #e63027;
  border-radius: 5px;
  align-items: center;
  background-color: white;
  justify-content: center;
  outline: 0;
  padding: 2px 4px;
  transition: .3s;
  margin: 6% 10%;
}
.linksButton{
  text-align: center;
  text-decoration: none;
  color: #e63027;
  font-weight: bolder;
}
.linksButton:hover{
  color: white;
}
.buttonBuy:hover{
  background-color: #ab1114;
  color: white;
  border: 1px solid #ab1114;
  outline: 0;
}
.card{
  text-align: center;
  font-size: 12px;
  background-color: white;
  margin: 3%;
  border-radius: 3%;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  max-width: 20%;
}
.card img{
  margin-top: 5%;
  border-radius: 50%;
}
.containerButton{
  background-color: white;
  display: flex;
  flex-direction: column;
}
/* .container:nth-child(n) {
  display: flex;
  align-items: center;
  padding: 10px;
} */

p {
  padding: 10px;
}
